h2{
    font-family: "Donegal One", serif;
    font-weight: 400;
    font-style: normal;
    
}
p{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#divMain{
    /* width: 100%; */
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    color: #000000B2;
}