@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Donegal+One&display=swap');
body{
    background-image: url(../public/bg-img.png);
    height: auto;
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    width: 100%;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Donegal One", serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}